{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block title %}
  Family Cook Book - Sign In
{% endblock %}


{% block content %}

<!-- check for flash messages in case of invalid input -->
<center style = 'red'>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li> <font color="red">{{ message }}</font> </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</center>

<div class="container">

  <form class="form-signin" method = "POST" action = /login>
    <h2 class="form-signin-heading">Login</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.family_pin) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
{% endblock %}
