{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}
  Family Cook Book - Sign Up
{% endblock %}


{% block content %}
<div class="container">

  <form class="form-signin" method = "POST" action = /signup>
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    <h6>
      If you already know your family cookbook's name and pin, please type them
      in to join their cookbook. To create your own new CookBook, please check the box,
      then fill in the remaning fields.
    </h6>
    {{ wtf.form_field(form.new_cook_book) }}
    {{ wtf.form_field(form.family_name) }}
    {{ wtf.form_field(form.family_pin) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->
{% endblock %}
